body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

#welcome-back-container {
    display: none;
}

/* 各チェックボックスを含むコンテナのスタイル */
.checkbox-container {
    display: flex;
    width: auto;
    margin: 5px; /* 適宜調整 */
}

/* テキスト記載スペース */
textarea {
    width: 100%;
    height: 100px;
}

/* 背景を朝と夜で変える */
.morning {
    background-image: url('img/morning.png'); /* 画像のパスを正確に指定 */
    background-size: cover;
}
.night {
    background-image: url('img/night.png'); /* 画像のパスを正確に指定 */
    background-size: cover;
}

/* 用語集 */
/* 複数の単語や要素に対して説明書きを設定 */
.buttons-container {
    text-align: center; /* ボタンを中央揃え */
}
/* ツールチップ */ 
.tooltip-button {
    background-color: goldenrod; /* ボタンの背景色 */
    color: white; /* ボタンの文字色 */
    border: none; /* ボタンの枠線をなくす */
    padding: 10px 20px; /* ボタンの余白 */
    margin: 5px; /* ボタンの間隔 */
    cursor: pointer; /* カーソルをポインターに変更 */
    border-radius: 5px; /* ボタンの角丸 */
}
.tooltip-button:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}
.tooltip-button[data-tooltip]:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 999;
    font-size: 12px;
} 

/* タイマーの色 */
  #timer {
    font-size: 48px; /* フォントサイズを大きくします */
    color: #333; /* 文字色を設定します */
    text-align: center; /* テキストを中央揃えにします */
    margin-top: 0; /* ビューポートの高さに基づいて、上部の余白を設定します */
}

/* マスコット指定 */
#mascot {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* フッター指定 */
footer {
    text-align: center; /* 中央揃え */
    background-color: #f2f2f2; /* グレーの背景色 */
    padding: 20px; /* 適切な余白を追加 */
}